body {
    background-image:url('https://cdn.radiofrance.fr/s3/cruiser-production/2018/11/7e03eb4b-a791-44f2-ab0d-09309a8cffc0/838_gettyimages-532412856.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}